<!DOCTYPE html>
<html>
<head>
    <title>RoastRank - Leaderboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>🔥 GLOBAL ROASTRANK</h1>

    {% for row in roasts %}
    <div class="lb-card">
        <h2>#{{ loop.index }}</h2>
        <h3>{{ row[1] }}</h3>
        <p><strong>{{ row[0] }}/100</strong></p>
        <p>{{ row[2] }}</p>
        <small>{{ row[3] }}</small>
    </div>
    {% endfor %}

    <a href="/" class="btn">Go Back</a>

</div>

</body>
</html>
